<!-- Please Subscribe My Youtube Channel
https://www.youtube.com/channel/UCQM5ye1xR4vJgtga0ryud2Q/
-->
<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">eGrocery<span></span></h5>
            <p>The best grocery company in the gulf </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">Your Account</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Your orders</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Help</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">About</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Subsribe to our newsletter<span></span></h5>
            <form> <input id="email" type="email" placeholder="Email"> </form>
            <a class="btn btn-b" href="#." target="_blank">Register Now</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

          <div class="widget no-box">
            <h5 class="widget-title">Contact Us<span></span></h5>

            <p><a href="mailto:info@domain.com" title="glorythemes">info@egrocery.com</a></p>
            <ul class="social-footer2">
              <li class=""><i class="ic bi bi-facebook"></i></li>
              <li class=""><i class="ic bi bi-instagram"></i></li>
              <li class=""><i class="ic bi bi-twitter"></i></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright eGrocery © 2021. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
