<%- include("./partials/header") %>

    <section class="row justify-content-center pt-5">
        <div class="col-md-4 py-5 rounded shadow-lg" id="background-elem">
            <h3 class="mt-0">Add Product</h3>
            <form class="row g-3" method="post" action="/addproduct">
                <div class="col-md-12">
                    <label for="name" class="form-label">
                        Product name
                    </label>
                    <input type="text" class="form-control" name="name" required>
                </div>
    
                <div class="col-md-12">
                    <label for="category" class="form-label">
                        Product category
                    </label>
                    <input type="text" class="form-control" name="category" required>
                </div>
    
                <div class="col-md-12">
                    <label for="stock" class="form-label">Stock Quantity</label>
                    <input type="number" class="form-control" name="stock">
                </div>

                <div class="col-md-12">
                    <label for="image" class="form-label">Product Image URL</label>
                    <input type="text" class="form-control" name="image">
                </div>

                <div class="col-md-12">
                    <label for="details" class="form-label">Details</label>
                    <textarea class="form-control" name="details"></textarea>
                </div>
    
                <div class="col-md-12">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="price" class="form-control">
                    
                    <button type="submit" class="btn btn-y mt-3">Add product</button>
                </div>
            </form>
        </div>
    </section>

<%- include("./partials/footer") %>