<%- include("./partials/header") %>

    <section class="mt-5 pt-5 px-5 container" id="background-elem">
        <a href="" class="btn btn-b"><i class="bi bi-arrow-left"></i> Return to browse</a>

        <!-- all items -->
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <img class="cart-image" src="../assets/imgs/hide-the-pain-harold-stock-photo.jpg">
                    </td>
                    <td>Watermelon</td>
                    <td>420 AED</td>
                    <td class="cart-qty">
                        <a href="#" class="btn btn-y">
                            <i class="bi bi-dash"></i>     
                        </a>
                        <span class="px-2">42</span>
                        <a href="#" class="btn btn-y">
                            <i class="bi bi-plus"></i>     
                        </a>
                    </td>
                    <td>13443</td>
                    <td>
                        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            </tbody>
            </table>
            <div class="pt-3">
                <p class="d-inline"><strong>Total: </strong><span id="total">49.99</span></p>
                <a href="" class="btn btn-g">Proceed to purchase <i class="bi bi-arrow-right"></i></a>
            </div>  
            
    </section>

    <script>
        document.getElementById("catalog").classList.add("active");
        document.getElementsByTagName("body")[0].id = "bg-img-market"
    </script>

<%- include("./partials/footer") %>