    
<%- include('./partials/header.ejs') %>

    <section class="container pt-5 mt-5 mb-4" id="background-elem">
        <!-- CATEGORIES -->
        <section class="container my-5">
            <h3>Categories</h3>
            <div class="row">
                <div class="card col-lg-3 col-sm-6 mb-1">
                    <img src="https://wallpaperaccess.com/full/3471160.jpg" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Breakfast & Cereal</h5>
                        <a href="/catalog/Breakfast & Cereal" class="btn shopcat">Shop</a>
                    </div>
                </div>
                <div class="card col-lg-3 col-sm-6 mb-1">
                    <img src="../assets/categories/bread.jpeg" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bread & Bakery</h5>
                        
                        <a href="/catalog/Bread & Bakery" class="btn shopcat">Shop</a>
                    </div>
                </div>
                <div class="card col-lg-3 col-sm-6 mb-1">
                    <img src="../assets/categories/egg.jpg" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Diary, Eggs & Cheese</h5>
                        
                        <a href="/catalog/Diary, Eggs & Cheese" class="btn shopcat">Shop</a>
                    </div>
                </div>
                <div class="card col-lg-3 col-sm-6 mb-1">
                    <img src="https://i.pinimg.com/originals/31/7b/72/317b72fe0ebc551d0cad86e3f2ce6495.jpg" 
                    class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fruits & Vegetables</h5>
                        
                        <a href="/catalog/Fruits & Vegetables" class="btn shopcat">Shop</a>
                    </div>
                </div>
            </div>

        
        </section>
    
    
        <!-- cards grid -->
        <section class="container my-5">
            <h3>Products</h3>

                
        <div class="row">

            <% products.forEach(product => { %>

                <div class="card col-lg-3 col-sm-6 mb-1">
                    <img src="<%= product.image_url%>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name%></h5>
                        <a href="#" class="btn">Add to Cart</a>
                    </div>
                </div>
    <% }); %> 
    </div>

        </section>
    
    </section>
    
<%- include('./partials/footer.ejs') %>
    
