<%- include("./partials/header") %>


   <section class="row justify-content-center pt-5 mt-4">
    <div class="col-md-4 py-5 rounded shadow-lg" id="background-elem">
            <h3 class="my-3">Sign Up</h3>
            <form class="row g-3" method="post" action="/register">
                <div class="col-md-12">
                    <label for="" class="form-label">
                        Name
                    </label>
                    <input type="text" class="form-control" name="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
    
                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">
                        Username
                    </label>
                    <input type="text" class="form-control" name="username" required>
                </div>
    
                <div class="col-md-12">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                    <div id="HelpBlock" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="col-md-12">
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock">
                    <div id="HelpBlock" class="form-text">
                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special
                        characters, or emoji.
                    </div>
                <!-- </div>
                <div class="col-md-12">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
     -->
                <div class="col-12">
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="" required>
                        <label class="form-check-label" for="">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-y mt-3">Register <i class="bi bi-person-plus"></i></button>
                <hr><p id='haveacc'>Already have an account?</p>
                <button type="button" class="btn btn-y col-3 mt-2" onclick="window.location.href='/login'">
                    Sign in <i class="bi bi-person-plus-fill"></i> 
                </button>
            </form>
    </div>
    </div>
   </section>

    <script type="text/javascript">
        document.getElementById("register").classList.add("active");
        document.getElementsByTagName("body")[0].id = "bg-img-market";
    </script>

<%- include("./partials/footer") %>
