body {
  background-image: url("../imgs/market-background.jpg");
}

#background-elem {
  background: #ffffff;
  border-radius: 5px;
  padding-bottom: 15px;
  width: 500px;
}

#background {
  background: #ffffff;
}

#HelpBlock {
  font-size: 10px;
}
#haveacc {
  margin: 0;
}
