/* html {
  overflow: scroll;
  height: 100%;
} */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

main {
  flex: 1 0 auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  /* overflow: scroll; */
}

body {
  color: black;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0 20px;
  font-size: 20px;
}

a:hover {
  cursor: pointer;
}

.text-centered {
  text-align: center;
}

/* default button is yellow */
.btn-y {
  background: rgb(255, 211, 39);
}

.btn-y:hover {
  background: #e0a800;
}

.btn-g {
  background: rgb(138, 235, 70);
}

.btn-g:hover {
  background: rgb(69 142 18);
}

.btn-b {
  background: rgb(78, 93, 201);
  color: white;
}

.btn-b:hover {
  background: rgb(27 41 146);
  color: white;
}

.register-btn {
  width: 220px;
}

.round-img {
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
}

.header-div {
  /*width: 30%;*/
  /*min-width: 400px;*/
  margin: 0 auto;
  padding: 10px 0;
}

.txt-green {
  color: rgb(153, 226, 101);
}

.txt-yellow {
  color: rgb(255, 211, 39);
}

.txt-white {
  color: white;
}

.txt-blue {
  color: rgb(78, 93, 201);
}

.caps {
  text-transform: uppercase;
}

.jumbotron {
  background: rgb(181 182 189);
  margin: 10px;
  padding: 5px;
  height: 100%;
}

.section {
  margin-bottom: 10px;
  background: rgb(92, 102, 178);
}

.section:hover {
  background: rgb(63 68 101);
  color: white;
}

.no-margin {
  /*width: 100%;*/
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.full-height {
  height: 100%;
}

.title {
  font-size: 6em;
  font-weight: bold;
}

.invisible {
  opacity: 0;
}

.list {
  font-size: 15px;
  margin-top: 20px;
}

.cart-product {
  border: #adafb3 2px solid;
  border-radius: 3%;
}

.cart-image {
  max-height: 120px;
  max-width: 120px;
}
.shopcat {
  margin-top: 10px;
}

#to-catalog {
  padding: 15px;
  font-size: 20px;
  background-color: #121212;
  color: #ffffff;
}

#learn-more {
  /* color: #ffffff; */
  font-size: 25px;
  margin: 20% auto;
  /* background-color: #121212; */
}

#nav {
  background: #121212;
  height: 60px;
}

#logo {
  max-width: 50px;
}

#bg-img-market {
  background-image: url(../imgs/market-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#bg-img-strw {
  height: 100vh;
  background-image: url("../imgs/strawberry.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-elem {
  background: #ffffff;
  /*border-radius: 5%*/
  padding-bottom: 15px;
}

#map {
  width: 100%;
  height: 500px;
}

.product-img {
  display: block;
  margin: auto auto;
  max-height: 300px;
  width: 90%;
  height: 100%;
}

#profile_icon {
  font-size: 1.8rem;
}

#user-drop {
  line-height: 0;
}

#user-drop * {
  line-height: 1.5;
}

#ap_icon {
  font-size: 1.7rem;
  color: gray;
}
