body {
	font-family: helvetica;
	background-image: url(../imgs/market-background.jpg);
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	/*color: white;*/
	padding-bottom: 25px;
}

p {
	padding: 0 20px;
}

.btn {
	background: rgb(153, 226, 101);
}

.round-img {
	border-radius: 50%;
	max-width: 400px;
	max-height: 400px;
}

#background-elem {
	background: #ffffff;
	/*border-radius: 5%*/
	padding-bottom: 15px;
}

.header-div {
	/*width: 30%;*/
	/*min-width: 400px;*/
	margin: 0 auto;
	padding: 10px 0;
}

.heading {
	/*color: rgb(103, 106, 130);*/
	text-align: center;
	/*display: inline;*/
}

#nav {
	background: rgb(103, 106, 130);
}

#logo {
	max-width: 100px;
}
